body{
    margin: 0px;
    padding: 0px;
    background-color: #f0f2f5;
}
.box1{
    margin: 23px;
    position: absolute;
    top: 248px;
    left: 325px;
}
#logo{
    max-width: 43%;
    height: auto;
}
#para1{
    font-family: Helvetica, Arial, sans-serif;
    font-size: 34px;
    font-weight: normal;
    letter-spacing: 1px;
    margin-top: 28px;
}
.box2{
    margin: 23px;
    position: absolute;
    right: 369px;
    padding: 23px;
    width: 24%;
    border-radius: 14px;
    background-color: white;
    top: 159px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
.input{
    width: 87%;
    padding: 22px;
    font-size: 21px;
    border: solid #dddfe2 2px;
    border-radius: 10px;
    margin: 1px;
}
.inp1{
    width: 100%;
    padding: 17px;
    font-size: 19px;
    border: solid grey 2px;
    border-radius: 10px;
}
.btn1{
    font-size: 27px;
    background-color: #1877f2;
    color: white;
    font-weight: 600;
    cursor: pointer;
}
.center{
    text-align: center;
    font-size: 23px;
}
.center a{
    text-decoration: none;
    color: #1877f2;
    font-weight: 500;
    cursor: pointer;
}
hr{
    width: 86%;
}
.btn2{
    font-size: 23px;
    background-color: #42b72a;
    color: white;
    font-weight: 600;
    padding: 20px;
    margin: 12px;
    border-radius: 13px;
    width: 62%;
    margin-left: 97px;
    margin-top: 38px;
    cursor: pointer;
}
#para2{
    position: absolute;
    top: 511px;
    color: black;
    font-size: 18px;
    text-align: center;
}
#para2 a{
    text-decoration: none;
    color: black;
}
#para2 a:hover{
    text-decoration: underline;
}